:root {
  --accent-color: #8a2be2;
  --main-text-color: #f1f1f1;
  --secondary-text-color: #0a0a0a;
  --acent-text-color: #ffffff;
  --background-color: #72a4f5;
  --secondary-background-color: #dee2e685;
  --icons-color: #afb1b8;
  --secondary-icons-color: #ff1046;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
