<main>
  <div class="container">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Created</th>
            <th>Category</th>
            <th>Content</th>
            <th>Date</th>
            <th></th>
            <th>
              <button class="archive-btn"></button>
            </th>
            <th>
              <button class="delete-btn"></button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Name" class="restd"></td>
            <td data-label="Created" class="restd">Ravi</td>
            <td data-label="Category" class="restd">178</td>
            <td data-label="Content" class="restd">Pass</td>
            <td data-label="Date" class="restd">178</td>
            <td data-label="" class="restd"></td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
          </tr>
          <tr>
            <td data-label="Name" class="restd"></td>
            <td data-label="Created" class="restd">Ravi</td>
            <td data-label="Category" class="restd">178</td>
            <td data-label="Content" class="restd">Pass</td>
            <td data-label="Date" class="restd">178</td>
            <td data-label="" class="restd"></td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
          </tr>
          <tr>
            <td data-label="Name" class="restd"></td>
            <td data-label="Created" class="restd">Ravi</td>
            <td data-label="Category" class="restd">178</td>
            <td data-label="Content" class="restd">Pass</td>
            <td data-label="Date" class="restd">178</td>
            <td data-label="" class="restd"></td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
          </tr>
          <tr>
            <td data-label="Name" class="restd"></td>
            <td data-label="Created" class="restd">Ravi</td>
            <td data-label="Category" class="restd">178</td>
            <td data-label="Content" class="restd">Pass</td>
            <td data-label="Date" class="restd">178</td>
            <td data-label="" class="restd"></td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
            <td data-label="" class="restd">
              <button class="btn" type="button"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
